[submodule "external/libopencl-stub"]
	path = external/libopencl-stub
	url = git@github.com:krrishnarraj/libopencl-stub.git
[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
