[submodule "external/pocl"]
	path = external/pocl
	url = git@gitlab.tuni.fi:cs/cpc/pocl.git
	branch = remote-devel
[submodule "external/libopencl-stub"]
	path = external/libopencl-stub
	url = git@github.com:krrishnarraj/libopencl-stub.git
[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv
[submodule "external/libyuv"]
	path = external/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "external/android-texcomp"]
	path = external/android-texcomp
	url = git@gitlab.tuni.fi:cs/cpc/android-texcomp.git
